<div id="shopify-block-15683396631634586217" class="shopify-block shopify-app-block">
<script
  id="chat-button-container"
  data-horizontal-position=bottom_right
  data-vertical-position=lowest
  data-icon=chat_bubble
  data-text=chat_with_us
  data-color=#89856e
  data-secondary-color=#ffffff
  data-ternary-color=#6a6a6a
  data-greeting-message=Tak+for+din+henvendelse%21+Vi+er+hos+dig+hurtigst+muligt.
  data-domain=plaza.dk
  data-external-identifier=_IFjME7llbhIYm9VH_nkkTDT85g6xh6lmZhPN0vi_6w >
</script>
</div>